@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* Imported the Font from Google Fonts */

body {
    background-color: #182b4d;
    font-family: 'Montserrat', sans-serif;
}

.about-me {
    padding: 50px;
    border-radius: 10px;
    max-width: 800px;
    margin-left: 100px;
    text-align: left;
}

.about-me h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 110px;
    color: #FFFFFF;
}

.about-me h2 {
    font-size: 22px;
    color: #FFFFFF
}


.about-me p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #FFFFFF;
}

.about-me figure {
    margin-top: 0px;
    text-align: center;
}

/* The Style for the Generate Fact button */
#randomFactButton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    margin-left: 140px;
}

#randomFactButton:hover {
    background-color: #2980b9;
}


#factDisplay {
    margin-top: 20px;
    font-size: 18px;
    color: #f1c40f;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 140px;
}

footer{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    font-size: 15px;
    text-align: center;

}

.RandomButton {
    background-color: #f9f9f9; 
    padding: 100px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center; 
    margin-top: -55px;
}


.randomFact-Btn {
    margin: 0 auto; 
    padding: 10px;
    border-radius: 10px;
}

.randomFact-Btn h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

#randomFactButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

#randomFactButton:hover {
    background-color: #0056b3;
}

#factDisplay {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .about-me {
        padding: 20px;
        margin-left: 0;
    }

    .about-me h1 {
        font-size: 24px;
        margin-top: 50px;
    }

    .contact h2 {
        font-size: 22px;
        color: #FFFFFF
    }

    .about-me p {
        font-size: 14px;
        margin-top: 10px;
    }

    .about-me figure img {
        max-width: 100%;
        height: auto;
    }

    #randomFactButton,
    #factDisplay {
        margin-left: 0;
    }
}
