@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.about-me {
    padding: 50px;
    border-radius: 10px;
    max-width: 800px; 
    margin-left: 100px;
    text-align: left; 
}

.about-me h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Jura", sans-serif;
    margin-top: 110px; 
    color: #FFFFFF
}

.about-me p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "Jura", sans-serif;
    margin-top: 20px; 
    color: #FFFFFF
}

.about-me figure {
    margin-top: 20px;
    text-align: center;
} 

.about-me img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

body{
    background-color: #182b4d;
}
