@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: #182b4d;
    font-family: 'Montserrat', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 0 70px; 
}

.card {
    display: block;
    width: calc(40% - 40px); 
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #333333;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.card:active {
    transform: translateY(0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(0, 123, 255, 0.5);
}

.card.new-button {
    font-size: 18px;
    font-weight: 500;
}

h1{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #FFFFFF;
    text-align: center; 
}

footer{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    font-size: 15px;
    text-align: center;
}