@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.home-info {
    padding: 50px;
    border-radius: 10px;
    max-width: 800px; 
    margin-left: 100px;
    text-align: left; 
}

.home-info h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Jura", sans-serif;
    margin-top: 110px; 
    color: #FFFFFF
}

.home-info p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "Jura", sans-serif;
    margin-top: 20px; 
    color: #FFFFFF
}

.home-info figure {
    margin-top: 20px;
    text-align: center;
} 

.home-info img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

body{
    background-color: #182b4d;
}
