@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Adjusted CSS */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 45%;
    max-width: 325px;
    background-color: #ffffff; /* Set background color to white */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
}


.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0; /* Apply border radius to top corners only */
}

.card-content {
    padding: 20px;
}

/* Adjust text size for responsiveness */
.card-content h3 {
    font-size: 18px; /* Adjust as needed */
    font-family: "Montserrat", sans-serif;
}

.card-content p {
    font-size: 13px; /* Adjust as needed */
    line-height: 1.5; /* Adjust line height for readability */
    font-family: "Montserrat", sans-serif;
}

/* Reset margins and paddings for all elements inside .card-content */
.card-content * {
    margin: 0;
    padding: 0;
}

/* Your other styles remain unchanged */


/* Reset margins and paddings for all elements inside .card-content */
.card-content * {
    margin: 0;
    padding: 0;
}

/* Your other styles remain unchanged */
body{
    background-color: #182b4d;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Change to your desired color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Change to your desired hover color */
}